files:
  /etc/yum.repos.d/jcu.repo:
    mode: "000755"
    owner: root
    group: root
    content: |
      [jcu-eresearch]
      name=JCU eResearch EL6 Custom Repo
      baseurl=https://www.hpc.jcu.edu.au/repos/jcu_eresearch/centos-6/
      gpgcheck=0
      enabled=1
      priority=1
  /etc/yum.repos.d/shib.repo:
    mode: "000755"
    owner: root
    group: root
    content: |
      [security_shibboleth]
      name=Shibboleth (RHEL_6)
      baseurl=http://download.opensuse.org/repositories/security:/shibboleth/RHEL_6/
      gpgcheck=1
      gpgkey=http://download.opensuse.org/repositories/security:/shibboleth/RHEL_6/repodata/repomd.xml.key
      enabled=1

commands:
  01_clean_yum:
    command: yum clean all
  02_update_yum:
    command: yum update
