files:
  /etc/supervisord.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      [fcgi-program:shibauthorizer]
      command=/usr/lib64/shibboleth/shibauthorizer
      socket=unix:///opt/shibboleth/shibauthorizer.sock
      socket_owner=shibd:shibd
      socket_mode=0660
      user=shibd
      stdout_logfile=/var/log/shibboleth/shibauthorizer.log
      stderr_logfile=/var/log/shibboleth/shibauthorizer.error.log

      [fcgi-program:shibresponder]
      command=/usr/lib64/shibboleth/shibresponder
      socket=unix:///opt/shibboleth/shibresponder.sock
      socket_owner=shibd:shibd
      socket_mode=0660
      user=shibd
      stdout_logfile=/var/log/shibboleth/shibresponder.log
      stderr_logfile=/var/log/shibboleth/shibresponder.error.log

      [supervisord]

      [supervisorctl]

commands:
  01_install_supervisor:
    command: easy_install supervisor
  02_supervise_auth_and_respond:
    command: supervisord -c /etc/supervisord.conf
